.hero{
	#s485112 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/about-hero.jpg");
		}
	}
	#s485115 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/lite-bg.jpg");
		}
	}
	#s485116 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/pro-bg.jpg");
		}
	}
	#s485117 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/ecom-bg.jpg");
		}
	}
	#s485128 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/sports-bg.jpg");
		}
	}
	#s485129 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/hospitality-bg.jpg");
		}
	}
	#s485131 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/financial-bg.jpg");
		}
	}
	#s485126 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/property-bg.jpg");
		}
	}
	#s485125 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/recruitment-bg.jpg");
		}
	}
	#s485127 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/fashion-bg.jpg");
		}
	}
	#s485130 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/retail-bg.jpg");
		}
	}
	#s485132 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/bar-restaurant-bg.jpg");
		}
	}
	#s485120 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/logo-bg.jpg");
		}
	}
}


.bg-cover{
	background:{
		size: cover;
		repeat: no-repeat;
		position: center ;
	}
}
.about-value{
	background:{ 
		image: url("/smarter-web-company-co-uk/_img/images/backgrounds/about-value.jpg");
		position: top center;
	}
}
.design-bristol{
	background:{ 
		image: url("/smarter-web-company-co-uk/_img/images/backgrounds/design-bristol.jpg");
		position: bottom center;
	}
}

.buy-buttons{
	background:{ 
		image: url("/smarter-web-company-co-uk/_img/images/backgrounds/buy-button-bg.jpg");
	}
}