.hero{
	#s485112 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/about-hero.jpg");
		}
	}
	#s485115 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/lite-bg.jpg");
		}
	}
	#s485116 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/pro-bg.jpg");
		}
	}
	#s485117 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/ecom-bg.jpg");
		}
	}
	#s485128 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/sports-bg.jpg");
		}
	}
	#s485129 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/hospitality-bg.jpg");
		}
	}
	#s485131 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/financial-bg.jpg");
		}
	}
	#s485126 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/property-bg.jpg");
		}
	}
	#s485125 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/recruitment-bg.jpg");
		}
	}
	#s485127 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/fashion-bg.jpg");
		}
	}
	#s485130 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/retail-bg.jpg");
		}
	}
	#s485132 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/bar-restaurant-bg.jpg");
		}
	}
	#s485120 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/logo-bg.jpg");
		}
	}
	#s485121 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/seo-bg.jpg");
		}
	}
	#s485133 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/cms-bg.jpg");
		}
	}
	#s485134 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/design-process-bg.jpg");
		}
	}
	#s485135 &, .d12936 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/faq-bg.jpg");
		}
	}
	#s485138 &, #s545327 &, #s853557 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/contact-bg.jpg");
		}
	}
	#s485142 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/not-found-bg.jpg");
		}
	}
	#s531396 &, #s548369 &, #s548408 &, #s565912 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/thanks-bg.jpg");
		}
	}
	#s485114 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/micro-bg.jpg");
		}
	}
	#s485122 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/360-bg.jpg");
		}
	}
	#s485123 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/custom-dev-bg.jpg");
		}
	}
	#s497110 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/email-marketing-bg.jpg");
		}
	}
	#s730296 &{
		background:{ 
			image: url("/smarter-web-company-co-uk/_img/images/backgrounds/advanced-bg.jpg");
		}
	}
}


.bg-cover{
	background:{
		size: cover;
		repeat: no-repeat;
		position: center ;
	}
}
.about-value{
	background:{ 
		image: url("/smarter-web-company-co-uk/_img/images/backgrounds/value-bg.jpg");
		position: center center;
	}
}
.about-history{
	background:{ 
		image: url("/smarter-web-company-co-uk/_img/images/backgrounds/history-bg.jpg");
		position: center center;
	}
}
.design-bristol{
	background:{ 
		image: url("/smarter-web-company-co-uk/_img/images/backgrounds/design-bristol.jpg");
		position: bottom center;
	}
}

.buy-buttons,.custom-form{
	background:{ 
		image: url("/smarter-web-company-co-uk/_img/images/backgrounds/buy-button-bg.jpg");
	}
}
.seo-results{
	background:{ 
		image: url("/smarter-web-company-co-uk/_img/images/backgrounds/seo-results.jpg");
	}
}
.cms-easy{
	background:{ 
		image: url("/smarter-web-company-co-uk/_img/images/backgrounds/cms-easy.jpg");
	}
}
.cms-ecommerce{
	background:{ 
		image: url("/smarter-web-company-co-uk/_img/images/backgrounds/cms-ecommerce.jpg");
	}
}
.cms-coding{
	background:{ 
		image: url("/smarter-web-company-co-uk/_img/images/backgrounds/cms-edit.jpg");
	}
}
.contact-1{
	display: none;
	background:{ 
		image: url("/smarter-web-company-co-uk/_img/images/backgrounds/contact-1.jpg");
	}
	@include respond-to(800){
		display: block;
	}
}
.contact-2{
	display: none;
	background:{ 
		image: url("/smarter-web-company-co-uk/_img/images/backgrounds/contact-2.jpg");
	}
	@include respond-to(800){
		display: block;
	}
}
.contact-3{
	background:{ 
		image: url("/smarter-web-company-co-uk/_img/images/backgrounds/contact-3.jpg");
	}
}

.custom-hosting{
	background:{ 
		image: url("/smarter-web-company-co-uk/_img/images/hosted-solution.jpg");
	}
}
.custom-support{
	background:{ 
		image: url("/smarter-web-company-co-uk/_img/images/backgrounds/cms-edit.jpg");
	}
}
.custom-plan{
	background:{ 
		image: url("/smarter-web-company-co-uk/_img/images/backgrounds/custom-plan-bg.jpg");
	}
}
.custom-pricing{
	background:{ 
		image: url("/smarter-web-company-co-uk/_img/images/backgrounds/custom-price-bg.jpg");
	}
}