/* ---------------------------------------------- *\

  Partial: base

  Here you place the base defaults to any project

\* ---------------------------------------------- */

	*, *:before, *:after { 
	  	box-sizing: border-box;
	}

	html { 
		font-size: 100%; 
		text-size-adjust: 100%; 
	}
	
	body {
		color: $black;
		font-family: $body-font;
		font-size: 14px;
		line-height: $base-line-height;
		margin: 0;	
		@include respond-to(480){
			font-size: 16px;
		}
	}

	html, body, .page-wrapper{ height: 100%; min-height: 100%; }

	small {
		font-size: 0.85em;
	}
	
	ul li {
		list-style: none;
	}
	
	ol li {
		list-style: none;
	}
	ul.disc{
		padding-left: 1em;
		li{
			list-style-type: disc;
			margin-bottom: 0.5em;
		}
	}
	
	img, object, embed {
		height: auto;
		max-width: 100%;
	}	
	
	blockquote {
		background: $blockquote;
		color: $white;
		font-size: 1.1em;
		font-style: italic;
		margin: 0 0 1.250em 1.250em;
		padding: 0.625em 1.250em 1.250em;
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	button{
	   -webkit-appearance: none;
	   -moz-appearance:    none;
	   appearance:         none;
	}

	input[type="text"]{
	   -webkit-appearance: none;
	   -moz-appearance:    none;
	   appearance:         none;
	}
	
	
/*********************************************
	- 2.0 -  LINKS
*********************************************/

	/* - 2.1. - BASE LINK STYLES
	------------------------------------------ */

	a {
		color: $link;
		cursor: pointer;
		text-decoration:none;
		&:visited {

		}
		&:hover {
			color: $link-hover;
		}
		&:active {
			
		}
		&:focus {
			color: $link-focus;
		}
		/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
		&:focus,
		&:active {
			outline: none;
		}
	}
	
	
	/* - 2.2. - HEADER LINKS 
	------------------------------------------ */
	
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
	.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
		color: $link;
	}


/*********************************************
	- 3.0 -  Helpers
*********************************************/

	.hide {
		display: none;
	}
	
	.tac {
		text-align: center;
	}
	.page-wrapper{
		//overflow-x: hidden;
	}
	.divider{
		margin-bottom: 0.4em;
		&:after{
			width: 4rem;
			height: 2px;
			background-color: $base-color-light;
			display: block;
			content: "";
			margin: 0.4em 0;
		}
	}
	.divider-center{
		&:after{
			margin: 0.4em auto;
		}
	}


	.dots{
		background: url("/smarter-web-company-co-uk/_img/images/dot-pattern.jpg") repeat;
	}
	.light-dots{
		background: url("/smarter-web-company-co-uk/_img/images/white-dot.png") repeat;
	}
	.dark-bg{
		background: url("/smarter-web-company-co-uk/_img/images/dark-pattern.jpg") repeat;
	}
	.grid{
		background: url("/smarter-web-company-co-uk/_img/images/grid-pattern.png") repeat #fff;
	}
	.striped{
		background: url("/smarter-web-company-co-uk/_img/images/pinstripe.png") repeat;
	}
	.black{
		background: #141414;
		h1,h2,h3,h4,h5,h6,p{
			color: #fff;
		}
		p{
			font-family: $body-font-light;
			color: rgba(255, 255, 255, 0.85);
		}
	}
	section.black{
		border-bottom: 3px solid $base-color;
	}
	.blue{
		background-color: $base-color;
		h1,h2,h3,h4,h5,h6,p{
			color: #fff;
		}
		.divider{
			&:after{
				background-color: #fff;
			}
		}
	}
	.grey{
		background-color: $lightgrey;
	}

	.srt{
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	.white-box{
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    	border-radius: 1px;
    	background-color: #fff;
    	padding: 2.5em;
	}