/* ---------------------------------------------- *\

  Partial: buttons

  This is a work-in-progress. Please deploy your own method or use my exaple below. 

\* ---------------------------------------------- */

.button{
	margin: 1em 0.2em;
	display: inline-block;
	.button-text{
		display: inline-block;
	    font-family: $heading-font-bold;
	    font-size: ms(2);
	    color: #111;
	    text-transform: uppercase;
	    line-height: 1;
	    padding: 1em 2em;
	    transition: all 500ms cubic-bezier(0.230,1.000,0.320,1.000);
	    text-align: center;
	}
}
.border-button{
	.button-text{
		background: transparent;
		border: 3px solid #111;
	}
	&.white-button{
		.button-text{
			border-color: #fff;
			color: #fff;
		}
		a{
			&:hover{
				.button-text{
					background-color: #fff;
					color: #111;
				}
				i{
					background-color: #fff;
					svg{
						fill: #111;
					}
				}
			}
		}
	}
	&.arrow-button{
		display: inline-block;
		font-size: 15px;
		.button-text{
			position: relative;
			height: 3.2em;
			float: left;
		}
		&.white-button{
			i{
				border-color: #fff;
				svg{
					fill: #fff;
				}
			}
		}
		i{
			display: inline-block;
			border: 3px solid #111;
			background: transparent;
			border-left: none;
			height: 3.2em;
			width: 3.2em;
			float: right;
			font-size: ms(2);
			transition: all 500ms cubic-bezier(0.230,1.000,0.320,1.000);
			svg{
				fill: #111;
				height: 1.2em;
				width: 1.2em;
				position: relative;
   				top: 50%;
  				transform: translateY(-50%);
			}
		 }
	}
	a{
		&:hover{
			.button-text{
				background-color: #111;
				color: #fff;
			}
			i{
				background-color: #111;	
				svg{
					fill: #fff;
				}
			}
		}
	}
}
.solid-button{
	.button-text{
	    background: #333;
	    border: 3px solid #333;
	    color: #fff;
	}
	&:hover{
		.button-text{
			background: #111;
			border-color: #111;
		}
	}
	&.white-button{
		.button-text{
			background-color: #fff;
			color: #111;
			border-color: #fff;
			&:hover{
				background-color: $base-color-light;
				border-color: $base-color-light;
				color: #fff;
			}
		}
	}
	&.blue-button{
		.button-text{
			background-color: $base-color;
			color: #fff;
			border-color: $base-color;
			&:hover{
				background-color: lighten(saturate($base-color-light,5%),5%);
				border-color: lighten(saturate($base-color-light,5%),5%);
				color: #fff;
			}
		}
	}
}