.sm-footer{
	padding: 3em 1em;
}
.footer{
	padding: 3em 1em 24em;
	// padding-top: 5em;
	// padding-bottom: 28em;
	background:{
		image: url('/smarter-web-company-co-uk/_img/images/footer-bg.jpg');
		color: #fdfdfd;
		position: bottom left;
		repeat: no-repeat;	
	}
	@include respond-to(480){
		padding: 5em 1em 28em;
	}
	@include respond-to(800){
		background-position: bottom center;
	}
	@include respond-to(1500){
		background-size: 100% auto;
	}
	.footer-top{
		text-align: center;
	}
	.button.arrow-button{
		font-size: 14px;
		margin: 1em auto 0;
		@include respond-to(320){
			font-size: 16px;
		}
		@include respond-to(960){
			margin: 1em auto;
		}
	}
	.no-touchevents.cssanimations.csstransitions &{
		h2{
			transform:  scale(0.5);
			opacity: 0;
		}
		&.visible{
			h2{
				animation: fadein 500ms ease-in forwards;
			}
		}
	}
}
.footer-info{
	max-width: $site-width;
	width: 100%;
	margin: 2.5em auto 1.95em;
	padding-bottom: 1.95em;
	border-bottom: 1px solid #ddd;
	text-align: center;
	@include clearfix;
	@include respond-to(320){
		padding: 0 1.5em 1.95em;
	}
	@include respond-to(1060){
		padding: 0 2.5em 1.95em;
	}
	p{
		font-size: ms(1);
		font-family: $body-font-bold;
		margin-bottom: 0;
	}
}
.footer-contact{
	p{
		font-size: ms(1);
		line-height: 1;
	}
	a{
		word-wrap: break-word;
	}
	@include respond-to(480){
		p{
			font-size: ms(3);
		}
	}
	@include respond-to(960){
		@include span(4 of 12 0.1);
		text-align: left;
		p{
			font-size: ms(2);
		}
	}
}
.footer-social{
	text-align: center;
	margin: 1.5em 0;
	@include respond-to(960){
		margin: 0;
		@include span(4 of 12);
	}
}
.footer-address{

	p{
		padding-top: 0;
	}
	@include respond-to(960){
		text-align: right;
		@include span(4 of 12 last);
	}
}
@keyframes spring{
		25%{
			transform: scale(0.8);
		}
		50%{
			transform: scale(1.1);
		}
		75%{
			transform: scale(0.9);
		}
		85%{
			transform: scale(1.03);
		}
		95%{
			transform: scale(0.95);
		}
		100%{
			transform: scale(1);
		}
	}
.social-icon{
	height: 3em;
	width: 3em;
	display: inline-block;
	margin: 0 .25em;
	@include respond-to(1060){
		margin: 0 .5em;
	}
	&.facebook{
		fill: $facebook;
		&:hover{
			fill: saturate(lighten($facebook, 7%),10%);
		}	
	}
	&.twitter{
		fill: $twitter;	
		&:hover{
			fill: saturate(lighten($twitter, 7%),10%);
		}		
	}
	&.google{
		fill: $google;	
		&:hover{
			fill: saturate(lighten($google, 7%),10%);
		}		
	}
	&.linkedin{
		fill: $linkedin;	
		&:hover{
			fill: saturate(lighten($linkedin, 7%),10%);
		}	
	}
	&:hover{
		animation: spring 600ms ease forwards;
	}
	

}
.footer-copy{
	max-width: $site-width;
	width: 96%;
	margin: auto;
	padding: 0 1em;
	//text-align: center;
	p{
		font-size: ms(0);
	}
	@include respond-to(480){
		padding: 0 2.5em;
	}
}
.google-code{
	height: 0;
	overflow: hidden;
}