@keyframes fadein{
	0%{
		opacity: 0;
		//transform: translateY(-200%) scale(0.5);
	}
	100%{
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}
@keyframes expand{
	0%{
		width: 0;
	}
	100%{
		width: 5rem;
	}
}

.hero{
	height: 100%;
	height: 100vh;
	width: 100%;
	padding: 0;
	position: relative;
	background:{
		//image: url("/smarter-web-company-co-uk/_img/images/home-hero.jpg");
		size: cover;
		repeat: no-repeat;
		color: #111;
		position: center;
	}
	.previewFrame &{
		height: 700px;
	}
	#s466567 &{
		background-image: url("/smarter-web-company-co-uk/_img/images/home-hero.jpg");
	}

}

.hero-content{
	padding-top: 4em;
	text-align: center;
	width: 85%;
	max-width: 50em;
	margin: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 14px;
	@include respond-to(960){
		font-size: 16px;
	}
	h1,h6{
		color: #fff;
	}
	.button{
		margin-top: 1.5em;
		@include respond-to(400){
			margin-top: 3em;
		}
	}
	h6{
		animation: textin 550ms ease-in 1s both;
	}
	.button{
		animation: textin 650ms ease-in 1.2s both;
	}
}

@keyframes textin{
	0%{
		opacity: 0;
		transform: scale(0.25);
	}
	100%{
		opacity: 1;
		transform: scale(1);
	}
}

.hero-title{ 
	h1{
		font-size: ms(10);
		line-height: 1;
		margin: 0;
		padding-top: 0;
		@include respond-to(480){
			font-size: ms(12);
		}
		@include respond-to(768){
			font-size: ms(15);
		}
		@include respond-to(1060){
			font-size: ms(17);
		}
		
	}

	.cssanimations.csstransitions &{
		//transform: translateY(-250%) scale(0.5);
		//transform: scale(0.5);
		transform: translateY(-5%);
		opacity: 0;
		animation: fadein 500ms ease-in 300ms forwards;
	}

	.divider{
		&:after{
			margin: 0.25em auto;
			@include respond-to(768){
				margin: 0.15em auto;
			}
			.cssanimations.csstransitions &{
				width: 0;
				animation: expand 400ms ease-in .75s forwards;
			}
		}
	}
}

section{
	padding: 3.5em 1em;
	@include clearfix;
	@include respond-to(480){
		padding: 5em 1em;
	}
}

.about-us{
	background:{
		image: url("/smarter-web-company-co-uk/_img/images/what-we-do.jpg");
		size: cover;
		repeat: no-repeat;
		color: #111;
	}
	@include respond-to(480){
		text-align: center;
	}
	.content-wrap{
		max-width: 55em;
		margin: auto;
		width: 91%;
	}
	h2,p{
		color: #fff;
	}
	p{
		font-family: $body-font-light;

	}
	.divider-center{
		&:after{
			margin: 0.4em 0;
			@include respond-to(480){
				margin: 0.4em auto;
			}
		}
	}
}
.bespoke-design,.hosted{
	padding: 0;
	@include clearfix;
}
.bespoke-image{
	padding-bottom: 75%;
	height: 0;
	z-index: 1;
	background:{
		image: url("/smarter-web-company-co-uk/_img/images/bespoke-design.jpg");
		size: cover;
		repeat: no-repeat;
		color: #111;
		position: center ;
	}
	@include respond-to(700){
		padding-bottom: 65%;
	}
	@include respond-to(800){
		@include span(4 of 12 last 0);
		background-position: center;
		padding-bottom: 60%;
	}
	@include respond-to(920){
		@include span(6 of 12 last 0);
	}
	@include respond-to(1200){
		padding-bottom: 50%;
	}
	@include respond-to(1400){
		padding-bottom: 40%;
	}
}
.bespoke-copy{
	position: relative;
	
	z-index: 5;
	
	@include respond-to(800){
		@include span(8 of 12 0);
		padding-bottom: 60%;
		height: 0;
		&__inner{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
		}
	}
	@include respond-to(920){
		@include span(6 of 12 0);
	}
	@include respond-to(1200){
		padding-bottom: 50%;
	}
	@include respond-to(1400){
		padding-bottom: 40%;
	}
	.content-wrap{
		max-width: 85%;
		margin: auto;
		position: relative;
		padding: 2em 0;
		@include respond-to(800){
			top: 50%;
			transform: translateY(-50%);
		}
		@include respond-to(920){
			max-width: 75%;
		}
	}
	&:after{
		border: 25px transparent solid;
		border-bottom-color: #fff;
		position: absolute;
		top: -50px;
		left: 50%;
		display: block;
		content: "";
		transform: translateX(-50%);
		@include respond-to(800){
			transform: none;
			border-bottom-color: transparent;
			border-left-color: #fff;
			left: auto;
			top: 50%;
			right: -50px;
			transform: translateY(-50%);
		}
	}
}


/*********************************************
**********************************************

	Projects

**********************************************
*********************************************/

.projects{
	padding: 0;
	position: relative;
	font-size: 14px;
	@include respond-to(1160){
		font-size: 16px;
	}
}
.project-item{
	min-height: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	float: left;
	padding: 0;
	margin: 0;
	display: table;
	&:nth-child(1){
		width: 100%;
		.project-item__inner{
			padding-top: 100%;
		}
		@include respond-to(480){
			width: 50%;
		}
	}
	&:nth-child(2),&:nth-child(3){
		width: 100%;
		.project-item__inner{
			padding-top: 100%;
		}
		@include respond-to(480){
			width: 50%;
		}
		@include respond-to(960){
			.project-item__inner{
				padding-top: 50%;
			}
			h3{
				font-size: ms(6);
			}
		}
	}
	&:nth-child(4),&:nth-child(5),&:nth-child(6),&:nth-child(7){
		width: 100%;
		.project-item__inner, .project-link__wrap{
			padding-top: 100%;
		}
		@include respond-to(480){
			width: 50%;
		}
		@include respond-to(640){
			h3{
				font-size: ms(5);
			}
		}
		@include respond-to(960){
			width: 25%;
			h3{
				//font-size: ms(6);
				&:after{
					margin-top: 0.7em;
				}
			}
			p{
				display: none;
			}
		}
	}
	&:nth-child(7){
		width:100%;
		.project-link__wrap{
			padding-top: 25%;
		}
		@include respond-to(960){
			width: 25%;
			.project-link__wrap{
				padding-top: 100%;
			}
		}
	}
	&.dark-bg{
		background-size: auto;
		background-repeat: repeat;
	}
	.project-item__inner, .project-link__wrap{
		height: 0;
		position: relative;
		overflow: hidden;
		display: block;
		width: 100%;
	}
	.cssanimations.csstransitions &{
		transform:  scale(0.5);
		opacity: 0;
		&.visible{
			animation: fadein 500ms ease-in forwards;
		}
	}
}

.hover-content, .link-content-wrap{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}
.hover-content{
	margin: 1em;
	padding: 1.5em;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
	transition: opacity 550ms ease;
	opacity: 0;
	@include respond-to(640){
		// opacity: 0;
		// background-color: rgba(0,0,0,0.8);
	}
}
.link-content-wrap{
	// margin: 2em;
	text-align: center;
	h4,h5{
		color: #fff;
	}
	@include respond-to(640){
		margin: 2em;
	}
	@include respond-to(960){
		border: 4px solid rgba(255,255,255,0.6);

	}
}
.project-item{
	&:hover{
		.hover-content{
			opacity: 1;
			transition: opacity 700ms ease;
		}
		h3,p,.arrow-button{
			transform: translateY(0);
			opacity: 1;
		}
	}
}
.project-item__content,.link-content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	@include respond-to(640){
		width: 85%;
	}
	.arrow-button{
		font-size: 12px;
		margin-top: 1.5em;
		transform: translateY(100%);
		opacity: 0;
		transition: all 300ms ease 500ms;
		margin-bottom: 0;
		@include respond-to(640){
			// transform: translateY(100%);
			// opacity: 0;
		}
	}
	h3{
		color: #fff;
		line-height: 1.1;
		transform: translateY(-100%);
		opacity: 0;
		transition: all 300ms ease 400ms;
		padding-top: 0;
		font-size: ms(5);
		@include respond-to(480){
			&:after{
				margin-top: 0.75em;
			}
		}
		@include respond-to(640){
			font-size: ms(6);
			transform: translateY(-100%);
			opacity: 0;
			&:after{
				margin-top: 0.4em;
			}
		}
	}
	p{
		color: #fff;
		transform: translateY(-100%);
		opacity: 0;
		transition: all 300ms ease-in-out 300ms;
		margin-bottom: 0;
		padding-top: 0;
		line-height: 1.4;
		@include respond-to(480){
			display: none;
		}
		@include respond-to(640){
			display: block;
			// transform: translateY(-100%);
			// opacity: 0;
		}
	}
}
.link-content{
	a{
		display: inline-block;
		&:hover{
			i{
				background: #fff;
			}
			svg{
				fill: #111;
			}
			h5{
				background: #fff;
				color: #111;
				@include respond-to(960){
					background: transparent;
					color: #fff;
				}
			}
		}
	}
	h5{
		@include respond-to(0to960){
			position: relative;
		    height: 3em;
		    float: left;
		    display: inline-block;
		    font-family: brandon_grotesque_bold, Arial, "Helvetica Neue", Helvetica, sans-serif;
		    font-size: 1.18652em;
		    color: #fff;
		    text-transform: uppercase;
		    line-height: 3em;
		    padding: 0 2em;
		    border: 3px solid #fff;
		    margin-bottom: 0;
		    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
		}
	}
}
.link-arrow{
	float: left;
	i{
		display: inline-block;
	    border: 3px solid #fff;
	   	border-left: 0;
	    background: transparent;
	    height: 3em;
	    width: 3em;
	    font-size: 1.18652em;
	    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	svg{
		fill: #fff;
	    height: 1.2em;
	    width: 1.2em;
	    position: relative;
	    top: 50%;
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    transform: translateY(-50%);
	}
	@include respond-to(960){
		float: none;
		i{
			border-left: 3px solid #fff;
		}
	}
}

/*********************************************
**********************************************

	Processs

**********************************************
*********************************************/

.process{
	text-align: center;
	h6{
		text-transform: none;
		font-family: $body-font;
	}
}
.process-wrap{
	@include clearfix;
	padding: 1.5em;
	svg{
		//display: none;
	}
	.cssanimations.csstransitions &{
		.process-step{
			transform:  scale(0.1);
			opacity: 0;
		}
		&.visible{
			.process-step{
				&:nth-child(1){
					animation: fadein 600ms ease-in 0.2s forwards;	
				}
				&:nth-child(2){
					animation: fadein 600ms ease-in 0.4s forwards;	
				}
				&:nth-child(3){
					animation: fadein 600ms ease-in 0.6s forwards;	
				}
				&:nth-child(4){
					animation: fadein 600ms ease-in 0.8s forwards;	
				}
				&:nth-child(5){
					animation: fadein 600ms ease-in 1s forwards;	
				}
				&:nth-child(6){
					animation: fadein 600ms ease-in 1.2s forwards;	
				}
				
			}
		}
	}
}
.process-step{
	padding: 4em 0;
	position: relative;
	transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
	//background-color: red;
	background-position: center;
	@include span(6 of 12 split);
	@include respond-to(480){
		@include span(4 of 12 split);
	}
	@include respond-to(640){
		padding: 5em 0;
	}
	@include respond-to(960){
		@include span(2 of 12 split);
	}
	@include respond-to(1060){
		padding: 6em 0;
	}
	svg{
		margin: auto;
		width: 5em;
		height: 5em;
		fill: #111;
		transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	h6{
		font-family: $heading-font-bold;
		text-transform: uppercase;
		margin-bottom: 0;
		transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	a{
		display: block;
	}
	&:after{
		width: 0%;
		position: absolute;
		bottom: -5px;
		left: 0;
		content: "";
		display: block;
		background-color: $base-color-light;	
		height: 5px;
	}
	&:hover{
		&:after{
			width: 100%;
			transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
		}
		svg{
			fill: #fff;
		}
		h6{
			color: #fff;
		}
	}
}
.signup{
	&:hover{
		background-image: url("/smarter-web-company-co-uk/_img/images/process-signup.jpg");
	}
}

.research{
	&:hover{
		background-image: url("/smarter-web-company-co-uk/_img/images/process-research.jpg");
	}
}

.design{
	&:hover{
		background-image: url("/smarter-web-company-co-uk/_img/images/process-design.jpg");
	}
}
.build{
	&:hover{
		background-image: url("/smarter-web-company-co-uk/_img/images/process-build.jpg");
	}
}

.launch{
	&:hover{
		background-image: url("/smarter-web-company-co-uk/_img/images/process-launch.jpg");
	}
}

.support{
	&:hover{
		background-image: url("/smarter-web-company-co-uk/_img/images/process-marketing.jpg");
	}
}

/*********************************************
**********************************************

	Packages

**********************************************
*********************************************/

.packages{
	text-align: center;
	h2,h6{
		color: #fff;
	}
	.sub-title{
		h6{
			text-transform: none;
			font-family: $body-font-light;
		}
	}
}
.packages-wrap{
	padding: 2.5em 0 1.5em;
	width: 98%;
	max-width: 66em;
	margin: auto;
	@include clearfix;
	@include respond-to(960){
		width: 85%;
	}
}
.package-item{
	//@include span(3 of 12 split 0.1);
	background: rgba(0,0,0,0.2);
	padding: 3em 1em;
	box-shadow: inset 0 0 0 3px rgba(255,255,255,0.5);
	transition: all 200ms ease;
	margin-bottom: 6px;
	@include respond-to(400){
		@include span(6 of 12 split 0.2);	
		margin-bottom: 1.2%;
	}
	@include respond-to(860){
		@include span(3 of 12 split 0.1);
		margin-bottom: 0;
		margin-bottom: 0.75%;
	}
	&:hover{
		background: rgba(0,0,0,0.85);
		box-shadow: inset 0 0 0 5px rgba($base-color-light,1);
	}
	&__title{
		h6{
			font-family: $heading-font-light;
		}
	}
	&__price{
		font-size: ms(10);
		font-family: $heading-font-bold;
		color: #fff;
		line-height: 1;
	}
	&__info{
		margin: 2em 0;
		p{
			font-family: $body-font-light;
			color: #fff;
			font-size: ms(0);
			text-transform: uppercase;
			margin-bottom: 0;
		}
	}
	&__monthly{
		font-family: $body-font;
		font-size: ms(0);
		color: #fff;
		text-transform: uppercase;
	}
	.monthly-price{
		font-family: $body-font-bold;
		font-size: ms(3);
	}
	.divider{
		&:after{
			width: 3rem;
			margin: 1.1em auto;
		}
	}
	.button-text{
		font-size: ms(0);
		border-width: 2px;
		padding: 0.75em 1.2em;
	}
	.button{
		margin: 1.5em 0 1em;
		a{
			&:hover{
				.button-text{
					background-color: $base-color-light;
					color: #fff;
					border-color: $base-color-light;
				}
			}
		}
	}
	.cssanimations.csstransitions &{
		transform:  scale(0.5);
		opacity: 0;
		&.visible{
			animation: fadein 500ms ease-in forwards;
		}
	}
}

/*********************************************
**********************************************

	Packages

**********************************************
*********************************************/

.hosted-image{
	//@include span(5 of 12 0);
	padding-bottom: 70%;
	height: 0;
	z-index: 1;
	background:{
		image: url("/smarter-web-company-co-uk/_img/images/hosted-solution.jpg");
		size: cover;
		repeat: no-repeat;
		color: #111;
		position: center;
	}
	@include respond-to(860){
		@include span(5 of 12 0);
		padding-bottom: 65%;
	}
	@include respond-to(1160){
		@include span(6 of 12 0);
		padding-bottom: 50%;
	}
	@include respond-to(1500){
		padding-bottom: 40%;
	}
}
.hosted-content{
	//@include span(7 of 12 last 0);
	position: relative;
	background-color: $base-color;
	z-index: 5;
	@include respond-to(860){
		@include span(7 of 12 last 0);
		padding-bottom: 65%;
		height: 0;
	}
	@include respond-to(1160){
		@include span(6 of 12 last 0);
		padding-bottom: 50%;
	}
	@include respond-to(1500){
		padding-bottom: 40%;
	}
	&__inner{
		@include respond-to(860){
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
		}
	}
	.content-wrap{
		max-width: 85%;
		margin: auto;
		position: relative;
		padding: 3.5em 0;
		@include respond-to(860){
			top: 50%;
			transform: translateY(-50%);
		}
		@include respond-to(1160){
			max-width: 75%;
		}
	}
	h2,p,li{
		color: #fff;
	}
	h2{
		padding-top: 0;
	}
	ul{
		margin-top: 1em;
	}
	li{
		font-family: $body-font-bold;
		list-style-position: inside;
	}
	.divider{
		&:after{
			background: #fff;
		}
	}
	&:after{
		border: 25px transparent solid;
		border-bottom-color: $base-color;
		position: absolute;
		top: -50px;
		left: 50%;
		display: block;
		content: "";
		transform: translateX(-50%);
		@include respond-to(800){
			transform: none;
			border-bottom-color: transparent;
			border-right-color: $base-color;
			right: auto;
			top: 50%;
			left: -50px;
			transform: translateY(-50%);
		}
	}
}

/*********************************************
**********************************************

	CMS

**********************************************
*********************************************/

.cms{
	background-image: url("/smarter-web-company-co-uk/_img/images/home-cms-bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	padding: 2em 1em;
	@include respond-to(768){
		padding: 5em 1em;
	}
	.sub-title{
		h6{
			text-transform: none;
			max-width: 30em;
			margin: auto;
			padding-top: 0;
		}
	}
	.play-icon{
		height: 7em;
		width: 7em;
		margin: 10.5em 0;
		border-radius: 50%;
		@include respond-to(768){
			margin: 10em 0;
			height: 10em;
			width: 10em;
		}
		&:hover{
			fill: $base-color-light;
			box-shadow: 0 0 10px 2px rgba(255,255,255,0.2);
			animation: wobble 300ms ease-in-out forwards;
			background: #fff;
		}
	}

}.cms-video{
	.cssanimations.csstransitions &{
		&.visible{
			.play-icon{
				animation: wobble 450ms ease-in-out 300ms forwards;
			}
		}
	}
}
@keyframes wobble{
	10%{
		transform: rotate(60deg);
	}
	25%{
		transform: rotate(-60deg);
	}
	50%{
		transform: rotate(30deg);
	}
	75%{
		transform: rotate(-30deg);
	}
	100%{
		transform: rotate(0deg);
	}
}


/*********************************************
**********************************************

	Testimonials

**********************************************
*********************************************/


.testimonials{
	padding: 1.5em 1em;
	position: relative;
	background-image: url("/smarter-web-company-co-uk/_img/images/testimonial-bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	@include respond-to(640){
		height: 75%;
		height: 75vh;
		padding: 2em;
		.previewFrame &{
			height: 500px;
		}
	}
	h2{
		color: #fff;
		padding-top: 0;
		font-size: ms(7);
		@include respond-to(480){
			font-size: ms(9);
		}
	}
	.divider{
		&:after{
			margin: 0.6em auto;
		}
	}
}
.testimonial-wrap{
	border: 3px solid rgba(255,255,255,0.5);
	width: 100%;
	height: 100%;
	padding: 2.5em 2em;
	text-align: center;
	position: relative;
	@include respond-to(640){
		padding: 3em;
	}
}
.testimonial-content{
	position: relative;
	@include respond-to(640){
		top: 50%;
		transform: translateY(-50%);
	}
}
.testimonial-item{
	max-width: 65em;
	margin: auto;
	p{
		//font-size: ms(3);
		color: #fff;
		font-family: $body-font-light;
		@include respond-to(480){
			font-size: ms(3);
		}
		@include respond-to(640){
			font-size: ms(4);
		}
	}
	.client-name{
		font-size: ms(3);
		font-family: $body-font-bold;
		color: #fff;
		text-transform: uppercase;
		margin-top: 1em;
		@include respond-to(640){
			margin-top: 2em;
		}
	}
}