.icon-responsive{
	&:before{
		background-image: url("/smarter-web-company-co-uk/_img/images/svg/responsive.svg");
	}
}
.icon-pages{
	&:before{
		background-image: url("/smarter-web-company-co-uk/_img/images/svg/pages.svg");
	}
}
.icon-cms{
	&:before{
		background-image: url("/smarter-web-company-co-uk/_img/images/svg/cms.svg");
	}
}
.icon-domain{
	&:before{
		background-image: url("/smarter-web-company-co-uk/_img/images/svg/domain.svg");
	}
}
.icon-email{
	&:before{
		background-image: url("/smarter-web-company-co-uk/_img/images/svg/email.svg");
	}
}
.icon-form{
	&:before{
		background-image: url("/smarter-web-company-co-uk/_img/images/svg/form.svg");
	}
}
.icon-blog{
	&:before{
		background-image: url("/smarter-web-company-co-uk/_img/images/svg/blog.svg");
	}
}
.icon-options{
	&:before{
		background-image: url("/smarter-web-company-co-uk/_img/images/svg/options2.svg");
	}
}
.icon-payment{
	&:before{
		background-image: url("/smarter-web-company-co-uk/_img/images/svg/payment.svg");
	}
}
.icon-bespoke{
	&:before{
		background-image: url("/smarter-web-company-co-uk/_img/images/svg/bespoke.svg");
	}
}
.icon-social{
	&:before{
		background-image: url("/smarter-web-company-co-uk/_img/images/svg/social.svg");
	}
}
.icon-calc{
	&:before{
		background-image: url("/smarter-web-company-co-uk/_img/images/svg/calc.svg");
	}
}
.icon-maps{
	&:before{
		background-image: url("/smarter-web-company-co-uk/_img/images/svg/map.svg");
	}
}
.icon-search{
	&:before{
		background-image: url("/smarter-web-company-co-uk/_img/images/svg/search.svg");
	}
}
.icon-software{
	&:before{
		background-image: url("/smarter-web-company-co-uk/_img/images/svg/software.svg");
	}
}
.icon-listing{
	&:before{
		background-image: url("/smarter-web-company-co-uk/_img/images/svg/listing.svg");
	}
}
.icon-ecommerce{
	&:before{
		background-image: url("/smarter-web-company-co-uk/_img/images/svg/ecommerce.svg");
	}
}
.icon-design{
	&:before{
		background-image: url("/smarter-web-company-co-uk/_img/images/svg/design.svg");
	}
}
.icon-uk{
	&:before{
		background-image: url("/smarter-web-company-co-uk/_img/images/svg/globe.svg");
	}
}
.icon-stationary{
	&:before{
		background-image: url("/smarter-web-company-co-uk/_img/images/svg/stationary.svg");
	}
}
.icon-vector{
	&:before{
		background-image: url("/smarter-web-company-co-uk/_img/images/svg/vector.svg");
	}
}
.icon-printer{
	&:before{
		background-image: url("/smarter-web-company-co-uk/_img/images/svg/printer.svg");
	}
}
.icon-strategy{
	&:before{
		background-image: url("/smarter-web-company-co-uk/_img/images/svg/graph.svg");
	}
}
.icon-ppc{
	&:before{
		background-image: url("/smarter-web-company-co-uk/_img/images/svg/cursor.svg");
	}
}
.icon-manage{
	&:before{
		background-image: url("/smarter-web-company-co-uk/_img/images/svg/calendar.svg");
	}
}
.icon-unsubscribe{
	&:before{
		background-image: url("/smarter-web-company-co-uk/_img/images/svg/unsubscribe.svg");
	}
}
.icon-broadcast{
	&:before{
		background-image: url("/smarter-web-company-co-uk/_img/images/svg/broadcast.svg");
	}
}
.icon-templates{
	&:before{
		background-image: url("/smarter-web-company-co-uk/_img/images/svg/template.svg");
	}
}
.icon-manage-lists{
	&:before{
		background-image: url("/smarter-web-company-co-uk/_img/images/svg/manage-lists.svg");
	}
}