/* ---------------------------------------------- *\

  Partial: nav

  All navigation styles here. This is sort that we can try keep things seperated and easy to maintain. You can
  include all global navigation styles here. 

\* ---------------------------------------------- */


.menu{
	display: block;
	//height: 100%;
	width: 100%;
	>li{
		position: relative;
		display: inline-block;
		margin: 0 0.5em;
		text-align: center;
		height: 100%;
		a{
			color: #fff;
			font-size: ms(0);
			font-family: $heading-font-bold;
			text-transform: uppercase;
			text-align: center;
			padding: 0 0.25em;
			line-height: 94px;
			&.liLinkActive{
				color: $base-color;
			}
			.fixed &{
				line-height: 4rem;
			}
		}
		&:last-child{
			a{
				padding: 0.45em 1em;
				background-color: $base-color-light;
			}
		}
		>ul{
			display: none;
			overflow: hidden;
		    position: absolute;
		    z-index: 100;
		    top: 75px;
		    left: 0;
		    width: 250px;
		    margin: 0;
		    background-color: #1c1c1e;
		    height: 0;
		    opacity: 0;
		    transition: opacity .2s linear;
		}
		&.liLinkActive{
			&:after{
				content: "";
				display: block;
				position: absolute;
				bottom: 0;
				height: 5px;
				width: 100%;
				background-color: #fff;
			}
		}
	}
}