/* ---------------------------------------------- *\

  Partial: typography

  I set all typographic styles here. First we list our variables such as fonts (maybe we're using some @font-face) and
  additionally and maps we might want to use. Then we specificy the typographic scales we want.

\* ---------------------------------------------- */

@font-face {
  font-family: 'brandon_grotesque_black';
  src: url('/smarter-web-company-co-uk/_img/fonts/brandon_grotesque_black.woff') format('woff');
}
@font-face {
  font-family: 'brandon_grotesque_bold';
  src: url('/smarter-web-company-co-uk/_img/fonts/brandon_grotesque_bold.woff') format('woff');
}
@font-face {
  font-family: 'brandon_grotesque_medium';
  src: url('/smarter-web-company-co-uk/_img/fonts/brandon_grotesque_medium.woff') format('woff');
}
@font-face {
  font-family: 'brandon_grotesque_regular';
  src: url('/smarter-web-company-co-uk/_img/fonts/brandon_grotesque_regular.woff') format('woff');
}

@font-face {
  font-family: 'brandon_text_regular';
  src: url('/smarter-web-company-co-uk/_img/fonts/brandon_text_regular.woff') format('woff');
}
@font-face {
  font-family: 'brandon_text_light';
  src: url('/smarter-web-company-co-uk/_img/fonts/brandon_text_light.woff') format('woff');

}
@font-face {
  font-family: 'brandon_text_bold';
  src: url('/smarter-web-company-co-uk/_img/fonts/brandon_text_bold.woff') format('woff');
}



h1, h2, h3, h4, h5, h6{
	line-height: 1.2;
	font-weight: normal;
	font-style: normal;
	color: #111;
	margin-bottom: 0.7em;
	padding-top: 0.4em;
	font-family: $heading-font-bold;
	text-transform: uppercase;
}

h1{
	font-family: $heading-font-black;
	font-size: ms(9);
	@include respond-to(480){
		font-size: ms(10);
	}
}

h2{
	font-family: $heading-font-black;
	font-size: ms(8);
	@include respond-to(480){
		font-size: ms(9);
	}	
}

h3{
	font-family: $heading-font-black;
	font-size: ms(7);
	@include respond-to(480){
		font-size: ms(8);
	}	
}

h4{
	font-size: ms(6);	
}

h5{
	font-size: ms(5);	
}

h6{
	font-family: $heading-font;
	font-size: ms(3);	
}
p{
	font-family: $body-font;
	font-size: ms(2);
	line-height: 1.6;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 0.8em;
	padding-top: 0.2em;
	color: #454545;
}

strong{
	font-family: $heading-font-bold;
}