/* ---------------------------------------------- *\

  Partial: typography

  I set all typographic styles here. First we list our variables such as fonts (maybe we're using some @font-face) and
  additionally and maps we might want to use. Then we specificy the typographic scales we want.

\* ---------------------------------------------- */


@font-face {
  font-family: 'brandon_grotesque_bold';
  src: url('/assets/fonts/brandon_grotesque_bold.eot');
  src: url('/assets/fonts/brandon_grotesque_bold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/brandon_grotesque_bold.woff') format('woff'),
       url('/assets/fonts/brandon_grotesque_bold.ttf') format('truetype'),
       url('/assets/fonts/brandon_grotesque_bold.svg#brandongrotesquebold') format('svg');
}
@font-face {
  font-family: 'brandon_grotesque_medium';
  src: url('/assets/fonts/brandon_grotesque_medium.eot');
  src: url('/assets/fonts/brandon_grotesque_medium.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/brandon_grotesque_medium.woff') format('woff'),
       url('/assets/fonts/brandon_grotesque_medium.ttf') format('truetype'),
       url('/assets/fonts/brandon_grotesque_medium.svg#brandongrotesquemedium') format('svg');
}
@font-face {
  font-family: 'brandon_grotesque_regular';
  src: url('/assets/fonts/brandon_grotesque_regular.eot');
  src: url('/assets/fonts/brandon_grotesque_regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/brandon_grotesque_regular.woff') format('woff'),
       url('/assets/fonts/brandon_grotesque_regular.ttf') format('truetype'),
       url('/assets/fonts/brandon_grotesque_regular.svg#brandongrotesqueregular') format('svg');
}

@font-face {
  font-family: 'brandon_text_regular';
  src: url('/assets/fonts/brandon_text_regular.eot');
  src: url('/assets/fonts/brandon_text_regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/brandon_text_regular.woff') format('woff'),
       url('/assets/fonts/brandon_text_regular.ttf') format('truetype'),
       url('/assets/fonts/brandon_text_regular.svg#brandontextregular') format('svg');
}
@font-face {
  font-family: 'brandon_text_light';
  src: url('/assets/fonts/brandon_text_light.eot');
  src: url('/assets/fonts/brandon_text_light.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/brandon_text_light.woff') format('woff'),
       url('/assets/fonts/brandon_text_light.ttf') format('truetype'),
       url('/assets/fonts/brandon_text_light.svg#brandontextlight') format('svg');
}
@font-face {
  font-family: 'brandon_text_bold';
  src: url('/assets/fonts/brandon_text_bold.eot');
  src: url('/assets/fonts/brandon_text_bold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/brandon_text_bold.woff') format('woff'),
       url('/assets/fonts/brandon_text_bold.ttf') format('truetype'),
       url('/assets/fonts/brandon_text_bold.svg#brandontextbold') format('svg');
}



h1, h2, h3, h4, h5, h6{
	line-height: 1.3;
	font-weight: normal;
	font-style: normal;
	color: #111;
	margin-bottom: 0.7em;
	padding-top: 0.4em;
	font-family: $heading-font-bold;
	text-transform: uppercase;
}

h1{
	font-size: ms(10);
}

h2{
	font-size: ms(9);	
}

h3{
	font-size: ms(8);	
}

h4{
	font-size: ms(6);	
}

h5{
	font-size: ms(5);	
}

h6{
	font-family: $heading-font;
	font-size: ms(3);	
}
p{
	font-family: $body-font;
	font-size: ms(2);
	line-height: 1.6;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 0.8em;
	padding-top: 0.2em;
}

strong{
	font-family: $heading-font-bold;
}