@font-face {
  	font-family: 'Elsie-Black';
  	src: url('/smarter-web-company-co-uk/_img/fonts/ElsieSwashCaps-Black.eot');
    src: url('/smarter-web-company-co-uk/_img/fonts/ElsieSwashCaps-Black.eot?#iefix') format('embedded-opentype'),
         url('/smarter-web-company-co-uk/_img/fonts/ElsieSwashCaps-Black.woff') format('woff'),
         url('/smarter-web-company-co-uk/_img/fonts/ElsieSwashCaps-Black.ttf') format('truetype'),
         url('/smarter-web-company-co-uk/_img/fonts/ElsieSwashCaps-Black.svg#ElsieSwashCaps-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

.christmas-banner{
	background:{
		image: url('/smarter-web-company-co-uk/_img/images/backgrounds/xmas-banner.jpg');
		repeat: no-repeat;
		size: cover;
		color: #fff;
	}
	display: flex;	
	position: relative;
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: 5em 0;
	@include respond-to(1160){
		padding: 8em 0;
	}
}
.christmas-content{
	width: 88%;
	max-width: 69em;
	margin: auto;
	text-align: center;
	h5{
		font-family: $heading-font-light;
		line-height: 1.5;
		text-transform: none;
		font-size: ms(3);	
		@include respond-to(640){
			font-size: ms(4);	
		}
	}
	.no-flexbox &{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50% -50%); 
	}
}
.christmas-font{
	font-family: 'Elsie-Black', Georgia, Times, "Times New Roman", serif;
	color: #e31616;
	line-height: 1.1;
	text-transform: none;
	padding-top: 0.15em;
	margin-bottom: 0.25em;
	// background:{
	// 	image: url('/smarter-web-company-co-uk/_img/images/backgrounds/xmas-text.jpg');
	// 	size: cover;
	// 	repeat: no-repeat;
	// 	position: center;
	// }
	
	font-size: ms(8);
	@include respond-to(480){
		font-size: ms(10);
	}
	@include respond-to(768){
		font-size: ms(12);
	}
	@include respond-to(1160){
		font-size: ms(14);
	}
	.backgroundcliptext &{
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
		color: transparent;
		background:{
			image: url('/smarter-web-company-co-uk/_img/images/backgrounds/xmas-text.jpg');
			size: cover;
			repeat: no-repeat;
			position: center;
		}
	}
}
.deer-icon svg{
	width: 3em;
	height: auto;
}